 <div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
          <div class="col-md-6">
              <div class="card card-bordered">
                  <div class="card-header">
                      <h4 class="card-title"><strong>Chat</strong></h4> <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>
                  </div>
                  <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                      <div class="media media-meta-day">Today</div>
                      <div id="user-chat-box">
                        <ul id="chat-messages-list">
                          <div class="media media-chat media-chat-reverse">
                            <div class="media-body">
                              <li class="other-message">
                                <p>Other Message<p>
                              </li>
                            </div>
                          </div>
                          <%if(locals.user){%>
                            <div class="media media-chat"> <img class="avatar" src="<%=user.avatar%>" alt="...">
                          <%} else {%>
                            <div class="media media-chat"> <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                          <%}%>
                          <div class="media-body">
                          <li class="self-message">
                            <p>
                              Self Message
                            <p> 
                            </div>
                          </li>
                    </div>
                        </ul>
                      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                          <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                      </div>
                      <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                          <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                      </div>
                  </div>
              </div>
              <div style="position: absolute; bottom: 0; width: 100%;" id="chat-message-input-container" class="publisher bt-1 border-light"> 
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> 
                <input id="chat-message-input" class="publisher-input" type="text" placeholder="Write something"> 
                <span class="publisher-btn file-group"> 
                  <i class="fa fa-paperclip file-browser"></i> 
                  <input type="file"></span>
                  <a class="publisher-btn" href="#" data-abc="true">
                    <i class="fa fa-smile"></i>
                </a> 
                <button id="send-message">Send</button>
                </a> 
              </div>
          </div>
      </div>
  </div>
</div>