<h1>Sign in</h1>
<form action="/users/create-session" method="POST">
    <input type="enail" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
</form>