<div>
    <p>
        Hi! <%=comment.user.name%>
    </p>
    <p>
        Your comment <strong> <%=comment.content%> </strong> got published on MiniFacebook!
    </p>
    <br>
    <p>
        Thanks!
    </p>
</div>